<H1>Trading on PythonAnywhere, Part 3, Fundamental Support</H1>


Note: you can install the requirements file for this notebook if you want to install all the libraries at once. Open a new terminal window, navigate to the folder with the "requirements_jupyter.txt" and run the following command:

pip3 install -r requirements_jupyter.txt

In [1]:
# !pip3 install -r requirements_jupyter.txt

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

index_symbol = ['^DJI']
stock_symbols = ['BA','GS','UNH','MMM','HD','AAPL','MCD','IBM','CAT','TRV']

# loop through each stock and load the corresponding CSV market file
stock_data_list = []
for stock in index_symbol + stock_symbols:
    tmp = pd.read_csv(stock + '.csv')
    # add stock symbol as new column
    tmp['Symbol'] = stock
    tmp = tmp[['Symbol', 'Date', 'Adj Close']]
    stock_data_list.append(tmp)
    
stock_data = pd.concat(stock_data_list)
stock_data.head()

  Symbol        Date     Adj Close
0   ^DJI  2017-04-05  20648.150391
1   ^DJI  2017-04-06  20662.949219
2   ^DJI  2017-04-07  20656.099609
3   ^DJI  2017-04-10  20658.019531
4   ^DJI  2017-04-11  20651.300781

In [3]:
# flatten out data frame
# make each stock symbol into unique column
stock_data = stock_data.pivot('Date','Symbol')
stock_data.columns = stock_data.columns.droplevel()

stock_data.head()

Symbol,AAPL,BA,CAT,GS,HD,IBM,MCD,MMM,TRV,UNH,^DJI
Date,,,,,,,,,,,
2017-04-05,141.777161,172.905151,91.817474,224.784515,143.392029,166.105453,127.264633,185.988541,118.215958,162.975571,20648.150391
2017-04-06,141.422775,173.188293,93.356865,225.752121,143.978745,165.692307,127.010887,185.646362,117.854195,162.945999,20662.949219
2017-04-07,141.107742,174.633438,93.064575,225.001724,143.871185,165.394455,126.825478,185.744141,117.472885,163.616150,20656.099609
2017-04-10,140.940399,173.373825,94.642937,225.998962,144.927246,164.491302,126.844994,185.470398,118.411491,163.083954,20658.019531
2017-04-11,139.424393,174.360031,94.603958,224.863480,144.917465,163.895584,128.035568,185.822357,118.489716,163.428894,20651.300781

# Load Company Data

In [4]:
# load nasdaq corollary material
stock_company_info_amex = pd.read_csv('companylist_AMEX.csv')
stock_company_info_nasdaq = pd.read_csv('companylist_NASDAQ.csv')
stock_company_info_nyse = pd.read_csv('companylist_NYSE.csv')

In [5]:
stock_company_info_nasdaq.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,PIH,"1347 Property Insurance Holdings, Inc.",6.75,$40.4M,2014.0,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pih,NaN
1,PIHPP,"1347 Property Insurance Holdings, Inc.",25.50,NaN,NaN,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pihpp,NaN
2,TURN,180 Degree Capital Corp.,2.04,$63.49M,NaN,Finance,Finance/Investors Services,https://www.nasdaq.com/symbol/turn,NaN
3,FLWS,"1-800 FLOWERS.COM, Inc.",12.15,$784.12M,1999.0,Consumer Services,Other Specialty Stores,https://www.nasdaq.com/symbol/flws,NaN
4,FCCY,1st Constitution Bancorp (NJ),21.85,$182.81M,NaN,Finance,Savings Institutions,https://www.nasdaq.com/symbol/fccy,NaN

## Let's tie in our 10 stocks from the Dow30 to the corollary material

In [6]:
print('Symbols found in the Nasdaq list:')
list(set(stock_symbols) & set(list(stock_company_info_nasdaq['Symbol'])))

Symbols found in the Nasdaq list:

['AAPL']

In [7]:
(stock_company_info_nasdaq[stock_company_info_nasdaq['Symbol'] == 'AAPL'][['Symbol', 'Name', 'LastSale', 'MarketCap', 'IPOyear', 'Sector', 'industry']])

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry
196,AAPL,Apple Inc.,183.83,$932.76B,1980.0,Technology,Computer Manufacturing

In [8]:
print('Symbols found in the Amex list:')
list(set(stock_symbols) & set(list(stock_company_info_amex['Symbol'])))

Symbols found in the Amex list:

[]

In [9]:
print('Symbols found in the NYSE list:')
list(set(stock_symbols) & set(list(stock_company_info_nyse['Symbol'])))

Symbols found in the NYSE list:

['TRV', 'HD', 'BA', 'GS', 'CAT', 'IBM', 'UNH', 'MMM', 'MCD']

In [10]:
# Buidling out a function for the web application
# load nasdaq corollary material
stock_company_info_amex = pd.read_csv('companylist_AMEX.csv')
stock_company_info_nasdaq = pd.read_csv('companylist_NASDAQ.csv')
stock_company_info_nyse = pd.read_csv('companylist_NYSE.csv')


        
def GetCorollaryCompanyInfo(symbol):
    CompanyName = "No company name"
    Sector = "No sector"
    Industry = "No industry"
    MarketCap = "No market cap"
    
    if (symbol in list(stock_company_info_nasdaq['Symbol'])):
        data_row = stock_company_info_nasdaq[stock_company_info_nasdaq['Symbol'] == symbol]  
        CompanyName = data_row['Name'].values[0]
        Sector = data_row['Sector'].values[0]
        Industry = data_row['industry'].values[0]
        MarketCap = data_row['MarketCap'].values[0]
        
    elif (symbol in list(stock_company_info_amex['Symbol'])):
        data_row = stock_company_info_amex[stock_company_info_amex['Symbol'] == symbol]  
        CompanyName = data_row['Name'].values[0]
        Sector = data_row['Sector'].values[0]
        Industry = data_row['industry'].values[0]
        MarketCap = data_row['MarketCap'].values[0]
 
    elif (symbol in list(stock_company_info_nyse['Symbol'])):
        data_row = stock_company_info_nyse[stock_company_info_amex['Symbol'] == symbol]  
        CompanyName = data_row['Name'].values[0]
        Sector = data_row['Sector'].values[0]
        Industry = data_row['industry'].values[0]
        MarketCap = data_row['MarketCap'].values[0]
 
    return (CompanyName, Sector, Industry, MarketCap)

In [11]:
GetCorollaryCompanyInfo('AAPL')

('Apple Inc.', 'Technology', 'Computer Manufacturing', '$932.76B')

In [12]:
CompanyName, Sector, Industry, MarketCap = GetCorollaryCompanyInfo('AAPL')

# Wikipedia

In [13]:
# !sudo pip3 install wikipedia
import wikipedia

In [14]:
description = wikipedia.page("Apple Inc.").content
description = description.split('\n')[0]
description

"Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that designs, develops, and sells consumer electronics, computer software, and online services. The company's hardware products include the iPhone smartphone, the iPad tablet computer, the Mac personal computer, the iPod portable media player, the Apple Watch smartwatch, the Apple TV digital media player, and the HomePod smart speaker. Apple's software includes the macOS and iOS operating systems, the iTunes media player, the Safari web browser, and the iLife and iWork creativity and productivity suites, as well as professional applications like Final Cut Pro, Logic Pro, and Xcode. Its online services include the iTunes Store, the iOS App Store and Mac App Store, Apple Music, and iCloud."

In [15]:
def GetWikipediaIntro(symbol):
    description = wikipedia.page("Apple Inc.").content
    return(description.split('\n')[0])

In [16]:
GetWikipediaIntro(CompanyName)

"Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that designs, develops, and sells consumer electronics, computer software, and online services. The company's hardware products include the iPhone smartphone, the iPad tablet computer, the Mac personal computer, the iPod portable media player, the Apple Watch smartwatch, the Apple TV digital media player, and the HomePod smart speaker. Apple's software includes the macOS and iOS operating systems, the iTunes media player, the Safari web browser, and the iLife and iWork creativity and productivity suites, as well as professional applications like Final Cut Pro, Logic Pro, and Xcode. Its online services include the iTunes Store, the iOS App Store and Mac App Store, Apple Music, and iCloud."

## Building A FinViz Link

In [17]:
symbol = 'AAPL'
url = r'http://finviz.com/quote.ashx?t={}'.format(symbol.lower())
url

'http://finviz.com/quote.ashx?t=aapl'

In [18]:
def GetFinVizLink(symbol):
    return(r'http://finviz.com/quote.ashx?t={}'.format(symbol.lower()))

GetFinVizLink('AAPL')

'http://finviz.com/quote.ashx?t=aapl'